/* header background image styles */
.bg{
    background-image: url(../images/header\ background.jpg);
    background-size: cover;
    background-position: no-repeat;
}
/* custom button styles */
.custom-btn-bg {
    background-color: #FDF6ED;
    border-radius: 5px; 
    padding: 5px 20px; 
    margin: 5px;
}
/* logo container max width */
.logo-container{
    max-width: 100px;
}
/* body font family changes */
body{
    font-family: 'Unna', serif;
}
/* main-container styles */
.main-container{
    background-color: #FDF6ED;
    max-width: 100%;
}

.container{
    background-color: #fcf1f2;
    max-width: 100%;
}
.main-container-contact{
 background-image: url(../images/shruti-designs.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size:auto;
 background-color:#FDF6ED ;
}
/* adding media query to main container in contact page to remove background image */
@media (max-width: 768px) {
    .main-container-contact{
        background-image: none;

}
}
    
/* custom button styles */
.btn-custom {
    border-radius: 20px;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color:#F4C5CC;
    color:black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color:#323B60;
    color: #FDF6ED;
}
/* navbar styles */
.navbar-toggler{
    color: bisque;
    background-color: #FDF6ED;
}
/* footer styles */
.footer{
    background-color: #323B60;
    color: #FDF6ED
}
h1{
    background-color: #323B60;
    color: #FDF6ED;
}
/* adding custom background color to about-container */
.about-container{
    background-color: #FDF6ED;
}
/* changing animation duration */
.animate__animated animate__fadeIn{
    animation-duration: 0.5s;
    animation-delay: 5s;
}
/* styles for skip link */
.skip-link {
    position: absolute;
    left: 48%;
    padding: 5px 5px;
    font-size: 1rem;
    background-color:#323B60;
    color:#FDF6ED;
    text-decoration: none;
}